[2014-05-15 02:28] jacobh opened #3 "Add flake8 to Travis"

[2015-03-26 21:25] Alexkane opened #12 "Request for reason_for_state_change"
Hi,
We're using django-fsm-log at Songtrust (thanks!) and I was wondering if you would be open to adding a reason_for_state_change field on the FSM log.  This would be helpful for us and we'd be willing to submit a patch for this if you're interested in incorporating it in the library.

Thanks
Alex Kane

[2015-03-27 04:14] hzy commented on #12
Hi,

This has been briefly discussed before here https://github.com/gizmag/django-fsm-log/pull/5

Does the solution I mentioned there work for you?

If not, I am open to being convinced to add a `description` field in. What's your use case?

[2015-03-27 15:38] Alexkane commented on #12
The solution you provided in tkt #5 doesn't work for us.  We're unable to derive the description from any combination of available properties.  We have an object with one of the transitions being from unreviewed to either approved or denied.  There are multiple reasons a denied transition can occur, some predefined and some entered at run time.

[2015-03-31 19:42] Alexkane commented on #12
Just want to followup on this, are you willing to add this? If not we're going to have to create a fork.

[2015-04-01 02:03] hzy commented on #12
I'm interested. would you go with the same approach as #5?

[2015-04-01 03:34] Alexkane commented on #12
#5 works for me, yes

On Tue, Mar 31, 2015 at 10:03 PM, Jacob Haslehurst <notifications@github.com

[2015-06-19 00:02] hzy opened #15 "New release to PyPI"
I'll look at doing this over the weekend

[2015-06-19 00:10] jacobh opened #16 "Drop support for Django 1.6"
This would help simplify the codebase.

Developers still using Django 1.6 could still use the version of `django-fsm-log` prior to this being released.

[2015-06-20 10:58] Mihara opened #17 "Initial migration for django 1.7+ is incomplete."
I've been running around upgrading from django 1.6 and this came up:

    kursitet@precise64:~/kursitet-platform$ ./manage.py makemigrations django_fsm_log -v3 --dry-run
    Migrations for 'django_fsm_log':
      0002_auto_20150620_1353.py:
        - Change Meta options on statelog
    Full migrations file '0002_auto_20150620_1353.py':
    # -*- coding: utf-8 -*-
    from __future__ import unicode

[2015-07-10 00:21] litchfield opened #19 "Need to select with models are logged"
I'm finding that for some models, fsm-log is adequate, for others, it's not; because some other metadata needs to be recorded along with the state change.

Maybe we could introduce a setting, and/or model mixin, to indicate which models should/shouldn't be logged?

[2015-07-10 12:46] ticosax commented on #15
bump ! :wink:

[2015-07-21 04:34] hzy commented on #15
done https://github.com/gizmag/django-fsm-log/releases/tag/v1.2.1

[2015-07-21 04:34] #15 closed

[2015-07-27 12:14] ticosax commented on #15
thanks

[2015-07-27 12:14] ticosax commented on #15
thanks

[2015-09-09 13:59] dmugtasimov commented on #17
please, fix

[2015-09-10 01:19] hzy commented on #17
I would be happy to accept a pull request to add the required migration

[2015-12-07 23:30] #17 closed

[2015-12-16 12:46] knehez opened #26 "Wont work with Django 1.9"
File "..venv\lib\site-packages\django_fsm_log\backends.py", line 2, in <module>
    from django.core.cache import get_cache
ImportError: cannot import name 'get_cache'

get_cache is not supported in django 1.9

[2015-12-16 23:23] hzy commented on #26
pull requests welcome

[2015-12-17 15:27] browniebroke commented on #26
Link to doc which provides the new way: https://docs.djangoproject.com/en/1.9/topics/cache/#django.core.cache.caches

[2015-12-18 02:19] hzy commented on #26
https://github.com/gizmag/django-fsm-log/pull/27 confirms that this package works under Django 1.9, so I'm closing this issue.

[2015-12-18 02:19] #26 closed

[2015-12-18 09:26] nanorepublica opened #28 "New release on Pypi?"
Hi

Having merged #27 could you do a release please?

Thanks

[2016-01-06 11:27] nanorepublica commented on #28
Any chance of this happening? It would be greatly appreciated!

[2016-01-06 11:29] hzy commented on #28
I've been meaning to get around to this but haven't done it just yet. I'll try to do it this week

[2016-01-06 11:32] nanorepublica commented on #28
Great! :smile:

[2016-01-22 14:05] Bartvds commented on #28
+1 For a django 1.9 version on Pypi

[2016-01-24 23:59] hzy commented on #28
`v1.3.0` has now been pushed up to PyPI https://github.com/gizmag/django-fsm-log/tree/v1.3.0

[2016-01-24 23:59] #28 closed

[2016-02-17 08:24] hzy commented on #19
fixed in https://github.com/gizmag/django-fsm-log/pull/31

[2016-02-17 08:24] #19 closed

[2016-02-19 04:15] jacobh opened #32 "Push new release to PyPI"
should get around to this sometime soon.

Interested in doing this @dinie? just saw you pushing releases for something else :)

[2016-04-07 20:56] dbinetti opened #33 "DataError: integer out of range"
Getting an integer out of range error -- any ideas how to debug?  I'm using the FSMIntegerField for my states and django-model-utils backed by a Choices field.  I was able to run tests with FSMIntegerField and Choices with no problems, so not sure what's happening...

[code]

[2016-04-20 14:22] dbinetti commented on #33
any ideas?

[2016-05-17 23:59] destos opened #34 "StateLog can't handle non-numeric object_id"
Ran into this issue when attempting to log state changes on a model that uses Postgres uuid4 fields for the primary key.

[2016-05-18 00:48] tysonclugg commented on #34
Thanks for the report @destos.  :smiley:

Looking through https://docs.djangoproject.com/en/1.8/ref/contrib/contenttypes/#generic-relations in the section titled "Primary key type compatibility" I found this:

Perhaps the solution is something along the lines of using class inheritance from the StateLog model and overriding the `object_id` field, then allow passing `statelog_model='myapp.FooStateL

[2016-05-19 15:13] seocam commented on #34
I'm also affected by this issue. Still I'm not sure how to solve it since I'm using FSM with numeric and non-numeric ids.

[2016-05-19 15:34] destos commented on #34
I can probably take a look at a fix today per your suggestion.

[2016-05-19 15:36] seocam commented on #34
The CharField is flexible enough to take UUIDs. Primary Keys as UUIDs are very useful in systems using DB replication.

[2016-06-21 10:33] Kianoosh76 opened #36 "FSM_LOG doesn't track create state"
Hi!
Why the app doesn't create a StateLog object when the object is created?
Thanks for the wonderful app!

[2016-07-12 08:34] jonasvp opened #37 "Not logging source state"
I'm not sure why the `target` state of the transition is logged but not the `source` state. The `target` can be inferred from the transition, since every transition can only have one target. The `source` is ambiguous, however, since it can be a list of states (https://github.com/kmmbvnr/django-fsm#usage).

I'll be happy to provide a pull request for saving the `source` to the `StateLog` model as w

[2016-07-13 13:22] peterfarrell opened #38 "Nested transitions with `@fsm_log_by` cause AttributeError"
If you use nested transitions with Django FSM Admin and `@fsm_log_by` decorator on both transitions, an AttributeError is thrown because the `fsm_log_by` decorator on the inner transition calls `delattr(instance, 'by')` however when `fsm_log_by` decorate tries to delete the `by` attribute on the instance -- it fails with an AttributeError because it's already been deleted. In short, the `fsm_log_b

[2016-08-12 03:23] florianm opened #40 "Add templatetag for transition logs"
Would it make sense to provide a templatetag for the transition logs, or include a section in the README?

Here's a working example:

`myproject/myapp/subapp/templatetags/__init__.py`:
Don't forget to register the templatetags folder as module. I've placed the templatetags inside the nested subapp that has django_fsm transitions.

`myproject/myapp/templatetags/transitions.py`

[code]

A very basic

[2016-11-29 18:05] browniebroke commented on #32
Are you guys expecting some progress on this or you're not using/maintaining this package anymore?

Have you considered automating it [with Travis](https://docs.travis-ci.com/user/deployment/pypi/) to help the maintenance? I usually add conditions below to restrict when releases are done:

[code]

Thanks 😄

[2016-11-30 00:06] hzy commented on #32
I'm personally no longer using this package. If you or someone else wanted to take over maintenance I think it would be possible to hand it over

[2016-11-30 10:52] browniebroke commented on #32
Ok thanks for the update, I'll give it some thoughts.

[2016-12-18 14:35] Sovetnikov opened #43 "Django admin inline for fsm-log sample"
Just if someone interested to show FMS state changes as admin inline, here is working prototype for Django 1.7.7:
https://gist.github.com/Sovetnikov/ebd27eb1d783f9d66a205ac139f9f14b

[2017-05-03 01:53] marsam commented on #33
This is given that `object_id` uses `PositiveInteger`, and your code is trying to store an id which is not an integer. See: #34,#35 for details. One solution to use `CharField` is to e.g: https://github.com/marsam/django-fsm-log/commit/9f573e3

[2017-05-25 09:59] browniebroke commented on #32
Hi again,
I'm happy to take this over. How do you want to proceed? Do you guys have a bit of time for that?
Thanks

[2017-10-06 17:08] ticosax opened #47 "Would you like to transfer ownership ?"
I'd like to take it over, then I'll organize the move to [jazzband](https://jazzband.co/)

[2017-11-07 12:13] browniebroke commented on #47
@jacobh are you able to work this out? What happened to the gizmag organisation? It seems it's now [New Atlas](https://twitter.com/gizmag/status/760231253295501313)...

[2017-11-07 23:28] jacobh commented on #47
Hi, I no longer have admin access to this repository. @tysonclugg would you be able to help moving this repo to jazzband?

[2017-11-08 23:16] tysonclugg commented on #47
Thanks very much for the offer to help out!

I've just created the @gizmag/django-fsm-log team with admin rights, and invited @ticosax and @jacobh to join it.  I'd appreciate if the @gizmag/gizmag-development team can retain admin rights to make improvements as @gizmag might need from time to time.

I'm +1 on adopting the code of conduct and other requirements of projects in the @jazzband organiza

[2017-11-08 23:16] #47 closed

[2017-11-08 23:19] browniebroke commented on #47
Cool! Thanks for the update and making things move. Let me know if I can help with anything @ticosax

[2017-11-09 08:39] ticosax commented on #47
Thank you for your trust @tysonclugg, I'll do my best to keep this project up to date.
One more thing regarding publishing releases to Pypi, do you want to do it or you'd prefer hand it out to us as well ?
If you decide to invite us, my identifier is [nicolas_delaby](https://pypi.python.org/pypi/nicolas_delaby)

[2017-11-09 10:12] jacobh commented on #47
I've added you as a "maintainer" on PyPI @ticosax :) Thanks for taking this over! I'm quite proud of this project, but haven't had use or interest in it over the last couple of years :)

[2017-11-09 10:14] #16 closed

[2017-11-09 15:27] ticosax commented on #43
Thanks, this would be useful. Are you interested to make a pull request ?

[2017-11-09 15:35] browniebroke commented on #32
I think this issue can be closed now 🎉  https://pypi.python.org/pypi/django-fsm-log

[2017-11-09 15:35] ticosax commented on #37
I agree with your analysis, let's fix this.
I'll help you having a PR merged.

[2017-11-09 15:37] ticosax commented on #36
What are you missing with the current behavior ?

[2017-11-09 15:40] ticosax commented on #34
I tend to lean towards a similar proposal, maybe with a swappable Model ?
At least we shouldn't force existing users to migrate/change type of `object_id` field.

[2017-11-09 15:43] ticosax commented on #33
Duplicate of #34 ? it not please re-open

[2017-11-09 15:43] #33 closed

[2017-11-09 15:43] ticosax commented on #32
My pleasure

[2017-11-09 15:43] #32 closed

[2017-11-09 15:44] ticosax opened #52 "Add coverage CI"
Personally I like codecov.

[2017-11-09 15:50] ticosax commented on #40
How does this play with #43, is there is overlapping ?

[2017-11-09 15:57] ticosax commented on #38
Can you explain what are nested transitions and how you design your state machine ?
It seems to me that your model will always end up in the target state of the outer transition, no matter what, and that inner transitions are just side effects and doesn't have to be a transition.

[2017-11-09 23:47] florianm commented on #40
@ticosax #43 is a few months younger than my idea above, and looks more refined.

My example is a bare-bones MWE displaying a list of state changes. I'm using it in production in Django 1.11.

#43 works for 1.7.7 (before the breaking changes and deprecations in 1.9 and later) and touches more internals, so care has to be taken when upgrading across Django versions. I reckon it will be easier to in

[2017-11-10 16:26] Kianoosh76 commented on #36
I remember I wanted to keep a complete track for the object states and other information. The initial state of the object was also important for me.

[2017-11-14 21:41] ticosax commented on #36
django-fsm-log is tracking `transitions`, creating an instance and initializing a state doesn't imply transitions. I'm reluctant to break this semantic. You could, in your project, rely on other mechanism like `signals` to achieve your goal. Thus I'm closing as `won't do`. Thanks for the proposal.

[2017-11-14 21:41] #36 closed

[2017-11-14 22:06] ticosax commented on #40
Thank you for you feedback.
That's my impression also, that #43 is easier to integrate in a existing project. I'll will first ask the submitter if he is willing to contribute again.

[2017-11-14 22:10] ticosax commented on #43
Hi @Sovetnikov ,
Thank you for your proposal, I quite like it. Since I've been granted committer rights for this project, I'd like to inform you that I will be supportive of integrating your proposal. Are you willing to make a pull request ?

[2017-11-15 07:00] Sovetnikov commented on #43
@ticosax, i just have no time to check and adapt my solution with Django >=1.8
I'm glad if it helps you

[2017-11-24 17:50] blueyed commented on #52
Me too.
Might be good to have before https://github.com/gizmag/django-fsm-log/pull/54 to see that it does not change coverage in an unexpected way.

[2017-11-27 10:00] #52 closed

[2017-11-27 16:56] ticosax commented on #40
Probably solved by #58

[2017-11-27 16:56] #38 closed

[2017-11-27 17:17] #3 closed

[2017-11-29 08:13] #43 closed

[2018-01-05 14:14] dbinetti commented on #34
Happy New Year!  What is the status of this issue?  Do you need additional feedback on it @ticosax?  I'm still using a fork but would love to get back on the main repo.

[2018-01-05 17:14] ticosax commented on #34
@dbinetti Pull requests are welcome. Unfortunately, I don't have myself the need for this use case, so I don't have economical incitement to do it. Suggestions of a suitable approach has been made by @tysonclugg and me. I will help as much as I can once a PR with decent coverage is made.

[2018-01-06 18:30] dbinetti commented on #34
Very well.  My fork just runs a migration to CharField; I'm afraid creating swappable models is beyond my skills.  I'll just pull from upstream.  Thanks!

[2018-02-07 14:48] jlost opened #69 "`fsm_log_by` decorator does not persist `by`"
model:
[code]
(Successfully prints user's `id` but doesn't persist `by` to StateLog)

views.py:
[code]

DB:
[code]

REPL:
[code]

This is with the latest pip release, 1.5.0

[2018-02-07 14:56] jlost commented on #69
Found my obvious rookie mistake -- passing in the user as an arg rather than kwarg.

Fix:  `job.reject_code(self.request.user)` -> `job.reject_code(by=self.request.user)`

[2018-02-07 14:56] #69 closed

[2018-04-10 08:33] florianm commented on #40
@ticosax Thanks, using it now in anger (and with pleasure)! Exactly what I needed, thanks!

[2018-04-10 08:33] #40 closed

[2018-04-10 08:37] florianm opened #70 "Support FSMIntegerField in StateLogInline"
Using StateLogInline, I noticed that a FSMIntegerField renders the underlying (integer) database value, which carries no business meaning.
It would be very useful if StateLogInline could render FSMIntegerFields as their display value!

[2018-05-14 15:00] riparian-imakedonsky commented on #34
Also affected by this issue(we have UUID's as ids). Will copy-paste model to the project with field type changed.
Would be great to just transition to CharField intead, should work seamlessly for anyone.

[2018-06-15 15:29] blueyed commented on #12
"description" was added in #67.

@Alexkane
Does this work for you?
Otherwise `reason_for_state_change` could be added in a similar way probably now.

[2018-06-15 15:36] Alexkane commented on #12
Yes I believe this will work, thanks!

[2018-06-15 15:42] blueyed commented on #12
Great, closing this issue then.

[2018-06-15 15:42] #12 closed

[2018-06-15 16:24] blueyed opened #74 "Handle multiple state fields"
Currently the `field` keyword argument in the signal handler is not being handled.

Therefore, if multiple state fields (e.g. "state" and "second_state") are being used those cannot be easily distinguished in the logs.

Do you think it makes sense to add "field_name" to `StateLog`, where `kwargs['field'].name` would be stored into?

This could also be used in `__str__` then, but is typically redun

[2018-06-18 17:31] blueyed commented on #70
Is this fixed / addressed by 0cabedc?  (unreleased)

[2018-06-19 19:28] jonasvp commented on #37
Sorry, I missed the comment by @ticosax ! Pull request is here: https://github.com/gizmag/django-fsm-log/pull/75

[2018-06-19 19:31] jonasvp commented on #74
This wouldn't be hard but does `django-fsm` actually send a `field` kwarg? It's not documented here: https://github.com/kmmbvnr/django-fsm#signals

Also, since transitions always refer to a specific field, you can just do `getattr(Model, transition)._django_fsm.field` to get to it later.

[2018-08-30 04:56] tysonclugg opened #77 "Stop using cache to stash StateLog instances"
When using `DJANGO_FSM_LOG_STORAGE_METHOD = 'django_fsm_log.backends.CachedBackend'`, a cache is used to stash unsaved log instances created during the [pre transition callback](https://github.com/gizmag/django-fsm-log/blob/v1.5.0/django_fsm_log/backends.py#L38).  These unsaved StateLog instances are then retrieved and saved as part of the [post transition callback](https://github.com/gizmag/djang

[2018-08-30 05:48] tysonclugg commented on #77
This part of the problem is actually quite common and can occur simply as a result of double-clicking a form submit button, which can occur for [lots](https://support.microsoft.com/en-au/help/266738/troubleshoot-mouse-double-clicking-when-you-single-click) of [different](https://baymard.com/blog/users-double-click-online) reasons.  Of course solutions for preventing double submission [exist](https

[2018-09-04 08:56] jonasvp commented on #37
Sorry, took me a while to figure out how to run the tests locally.

@ticosax The PR is now ready for review, the tests are passing and [coverage is up](https://codecov.io/gh/gizmag/django-fsm-log/pull/75) (the coverage report in the PR does not seem to update)

[2018-09-05 15:19] blueyed commented on #77
Only skimmed it, but wouldn't using something along https://github.com/saxix/django-concurrency help here?

[2018-09-21 12:51] blueyed commented on #37
Merged in 0480d7e, thanks!

[2018-09-21 12:51] #37 closed

[2018-10-09 14:23] blueyed opened #79 "New release"
@ticosax
Do you want to do it?
Or can you give me permissions on PyPI?
/cc @gizmag

[2018-10-10 09:02] ticosax commented on #79
I don't have the permission @blueyed .

[2018-11-06 17:14] sachinsiddhpura opened #80 "django.db.utils.DataError: integer out of range"

[2018-11-08 07:19] tysonclugg commented on #79
@ticosax is now an owner of the project on PyPi, and @blueyed is now a maintainer.  You're welcome.  :-)

[2018-11-08 07:20] tysonclugg commented on #79
For the record, @ticosax was given maintainer permissions some time ago.

[2018-11-08 07:54] ticosax commented on #79
Thanks @tysonclugg ! @blueyed let me know if you need more help

[2018-11-08 16:43] blueyed commented on #79
Thanks.
@ticosax
Would be good if you could cut a release - might take me some time to do it myself.  But I can understand if you're also lacking time/motivation.

[2018-11-09 06:45] alieh-rymasheuski commented on #80
I suppose this issue is a duplicate of https://github.com/gizmag/django-fsm-log/issues/34

[2018-11-14 10:21] ticosax commented on #38
I'll try by the end of this week.

[2018-11-14 23:02] ticosax commented on #79
https://pypi.org/project/django-fsm-log/1.6.0/

[2018-11-14 23:02] #79 closed

[2018-11-14 23:13] #80 closed

[2018-11-14 23:30] blueyed commented on #79
Thank you!

[2018-11-16 18:32] blueyed opened #83 "Fix/improve migration for description"
I had to kill the following query from the migration for "description" on PostgreSQL:

Added in https://github.com/gizmag/django-fsm-log/pull/67/files#diff-7e3c967405cb8cf72fc1169170aa4150R14 (#67).

I guess it might be better with null=True, which also makes sense in general?!

[2018-11-16 18:44] blueyed commented on #83
Yes, we should use NULL here: https://stackoverflow.com/a/19527223/15690.

I suggest adding a new migration, and also editing the existing one.

[2018-11-21 09:18] gjain0 opened #85 "deleting user object in Multiple database project raise exception"
Scenario:
Suppose we have two databases(DB1, DB2) configured in the Django project.
Both DBs have the user, group, permission and auth tables. and install fsm_log into 2nd DB only (i.e. DB2). e.g. `python manage.py migrate django_fsm_log --database=DB2`.
It will create the table in DB2.
Now in the app, try to delete a user object which is coming from DB1. you will get an Error
`ProgrammingError: (

[2018-11-21 11:59] blueyed commented on #85
Do you have a traceback for when it fails?

[2018-11-21 16:55] #83 closed

[2018-11-22 04:33] gjain0 commented on #85
@blueyed  unfortunately I don't have a trace. It just when you perform delete operation you get this exception.

[2018-11-22 09:57] blueyed commented on #85
Shouldn't that cause a traceback then also?

Anyway, I've not investigated into this really - just thought that it would be useful for when doing so.

[2018-11-22 12:07] gjain0 commented on #85
@blueyed  I've updated the description and added traceback

[2018-11-22 12:29] blueyed commented on #85
Without the code there, please also provide your versions of Django, django-fsm-log and Python (at least).

[2018-12-10 11:35] Chiron1991 opened #88 "IntegrityError: null value in column "description" violates not-null constraint"
I just encountered the following error after upgrading from 1.6.0 to 1.6.1  when running a transition:
[code]
This should not have happened, because the description field was made nullable in migration 0005 added in PR #84.

You also added the field alteration to migration 0003. AFAIK, since I already had this migration applied from a previous version of django-fsm-log, Django skipped the AlterFie

[2018-12-10 14:10] blueyed commented on #88
Thanks for the report.  Are you sure this not just happened during the migration (which it was still running)?

But you might be right that we should not have changed 0003 maybe.
The idea was to avoid running it in the first place - since this can be very slow.

Do you think squashing them would work?

[2018-12-13 11:00] mozz100 commented on #88
This affected us, too - and we also fortunately caught it in staging before it got to production.

Please don't rewrite migrations in released versions!

We followed the same steps as Chiron1991 to fix it.  Could you publish a new version on pypi which doesn't include the modification to 0003, and remove 1.6.1, since anyone who upgrades from 1.6.0. to 1.6.1 will hit this issue?

[2018-12-13 16:15] blueyed commented on #88
Sorry for the trouble!
Please review https://github.com/gizmag/django-fsm-log/pull/89.

[2018-12-18 10:52] Chiron1991 commented on #88
Hm, this should do the trick. As @mozz100 said, please make a 1.6.2 release on PyPI as soon as possible.

[2019-01-06 17:32] #88 closed

[2019-01-14 05:25] imomaliev opened #94 "Allow manager to be used in migrations"
Hi, I would like to have ability to use `StateLog`'s manager in migrations for data migrations

https://docs.djangoproject.com/en/2.1/topics/migrations/#model-managers

I could provide PR if this feature request accepted

[2019-01-14 07:44] blueyed commented on #94
Sounds good to me in general.
What is your use case?

[2019-01-14 08:52] imomaliev commented on #94
I have 2 models, parent and child, child model has fsm. I need to add fsm functionality to parent one. So for the sake of data consistency I need to do data migration and create `StateLog` records for existing objects of parent model based on state logs of the child.

[2019-05-29 12:11] josh-stableprice commented on #34
Please, don't do a swappable model. They're literally more hassle than they're worth based on my experience with django-cities. You have to make the decision to use a swapped model from the start of the project or you're totally stuck, unable to migrate to it.

Given that the issue at hand here can be resolved so simply by using a CharField for to allow integer and uuid primary keys, the thought o

[2019-07-01 08:06] tysonclugg commented on #34
Not so simple when you consider that using a CharField would require all users to migrate.

Also, quoting the Django docs again:

[2019-07-03 19:14] ticosax commented on #34
Thanks for your feedback. What are the alternatives ? given that asking everyone else to migrate to a CharField is a no go in my opinion. The solution shouldn't be intrusive.

[2019-07-15 11:38] josh-stableprice commented on #34
How is the migration to a Charfield for the statelog table intrusive? All users will have to migrate anyway if you start using a Swappable field, which in my project has been nothing but pain. I get constantly asked to migrate my project and every time I run makemigrations it creates another migration that does the exact same no-op each time. Packages create new migrations for their users all the

[2019-07-15 20:38] ticosax commented on #34
by intrusive I meant changing the type of the DB column for projects that doesn't want/care about. You shared your experience with swappable models and explain it is not a good idea. Fine, how do we move forward ? There is probably other solutions out there ?

[2019-07-15 21:01] dbinetti commented on #34
A swappable model would be just as intrusive since it also would require a
migration with all the attendant issues.  So the question isn't swappable
v. non-swappable, it's "should we support non-number PKs? "  If you do,
then it becomes intrusive for all regardless of whether or not people want
them.  Thus, the underlying issue is:  at what point does the degree of
demand for non-numeric PKs excee

[2019-07-15 21:08] ticosax commented on #34
People who doesn't want to migrate, doesn't fork. We can't measure how many they are. If your suggestion would be merged, I (as an example) would fork the project to keep the FK as an `Integer`.
Either way, we stay divided.

[2019-07-15 21:18] dbinetti commented on #34
We're divided now and will always be; that isn't going to change.  It's
about what the priority will be moving forward.  So perhaps another
guidepost would be if and when the django project moves to a UUID as
default PK.

On Mon, Jul 15, 2019 at 2:08 PM Nicolas Delaby <notifications@github.com>
wrote:

[2019-07-16 07:02] josh-stableprice commented on #34
What nobody has yet been able to explain is how a weak referencing generic
foreign key (GFK) link changing type and being supplied with a migration
for the field is of any inconvenience at all. Either there is an
implementation detail which is non-obvious or you're all forgetting that
GFK's don't require you to change the type of the fields they reference,
and that they coerce ints to string nicel

[2019-07-16 21:21] dbinetti commented on #34
No one is suggesting that the reference fields need to be changed.  @ticosax 's point is that mandating a migration is itself an intrusion.  Now we can argue about whether or not that rises to the level of an impassable burden (I personally think not) but it is certainly an imposition on existing users who have no need to support non-numeric PKs.

[2019-07-16 23:04] mr-bo-jangles commented on #34
How. What use case, supported by this library, are we breaking by introducing these changes.

[2019-07-16 23:43] dbinetti commented on #34
Mandating a migration is itself an imposition.  It might be slight, but it
is one nonetheless.

But more to your point,  if a user were sorting their logs by `object_id`
and depending on those being chronologically sequential then this would
break that dependency.  Yes, they can re-cast to integer and sort, and yes,
they shouldn't be doing that anyway, and yes, yes, yes to whatever your
counter-po

[2019-07-17 07:01] josh-stableprice commented on #34
Look, I'm not trying to be unreasonable. I just couldn't see a usecase
where someone would genuinely care about typing on a generic foreign key
which could be one of any content_types.

What is a major imposition is having to keep remembering to blacklist every
model with both UUID pk and a fsm field, update it as we refactor our
codebase into model packages and get surprised every now and again w

[2019-07-17 12:38] dbinetti commented on #34
Yep, sounds totally reasonable.

What say ye @ticosax?  Are you persuaded by this discussion?  I think we can put together a PR if we believed it had a chance of being merged.

[2019-07-17 14:44] ticosax commented on #34
At this point, I'm no longer interested into maintaining this library.
I'd like to step down from my maintainer and releaser role.
It doesn't mean I will stop contributing, but this decision is a burden I'm not willing to take.

Any candidate ?

@jacobh @tysonclugg, please, take it over from there. I don't have permission to invite new maintainers.

[2019-07-17 14:47] ticosax commented on #34
no need to be so dramatic, luckily there is other maintainers.

[2019-07-17 21:38] mr-bo-jangles commented on #34
Dramatic?

[2019-07-18 07:52] ticosax commented on #34
I was referring to my previous comment. Luckily, there is other people who could step in.

[2019-07-18 09:03] tysonclugg commented on #34
My tenure at Gizmag is drawing to a close within the next month, as is the tenure of the Gizmag Django codebase. I'm happy enough to hand this project over to new maintainers, and move to a new organisation. I'll raise a new issue asking for new maintainers.

[2019-07-18 09:29] tysonclugg opened #96 "New maintainers wanted"
For various reasons, new maintainers are sought for django-fsm-log. Candidates should post a comment here supporting their appointment, and I'll grant ownership of the repo once suitable candidates are found.

I'd like to take this opportunity to thank @ticosax for his numerous contributions over the last 2½ years. Every contribution whether comment, critique, or pull request is appreciated (but e

[2019-07-22 09:12] josh-stableprice commented on #34
I've made a PR to cover these changes as #97.

[2019-07-22 09:57] josh-stableprice commented on #96
Maybe take a look at hosting it under the Jazzband org, so that whoever is invested can join - https://jazzband.co/

[2019-07-23 12:56] ticosax commented on #96
I support that, jazzband is probably the way to go.

[2019-07-23 13:15] tysonclugg commented on #96
Personal experience with Jazzband has me somewhat concerned:

1. Author attribution using standard git means is not highly valued in the Jazzband community.  Aside from morale issues that arise when author names are squashed our of the commit log, this leads to long term code provenance issues making copyright difficult to enforce.

2. Arbitration is performed by the "roadies", but sadly this amou

[2019-07-23 14:14] josh-stableprice commented on #96
Interesting to know. I personally dislike squashing, but not for the reason you've detailed above. I haven't ever thought about copyright issues inside an open source library such as this before.
Are you concerned about the project getting claims of using stolen code or about people being denied attribution and getting salty about it?

I'm sure there are systems for dealing with no. 2, although I'

[2019-07-24 07:50] tysonclugg commented on #96
@josh-stableprice Are you stepping forward as a maintainer?

See https://github.com/jazzband/django-ddp for an example of a project that moved to Jazzband but stagnated due to lack of maintainers.  Someone still has to take control.

[2019-07-24 13:56] josh-stableprice commented on #96
I do currently use this package and I am somewhat invested in it continuing to work correctly so I would be interested. I do notice that there are some long running forks of this package that may be able to be persuaded to come back upstream and assist with maintenance.

[2019-07-25 05:00] dbinetti commented on #96
gladly!  although I must say I'm more of a cargo-culter than an actual
programmer...

On Wed, Jul 24, 2019 at 6:57 AM josh-stableprice <notifications@github.com>
wrote:

[2019-08-02 06:32] tysonclugg commented on #96
Thanks to @josh-stableprice and @dbinetti for stepping forward to maintain `django-fsm-log`.  :+1:

I'm also putting out the call to all people who have up to date forks as shown on the [django-fsm-log network graph](https://github.com/gizmag/django-fsm-log/network):

- @cwuebbels
- @cw-intellineers
- @imomaliev
- @bjorntheart

Pending further responses within the next week, I'll transfer ownershi

[2019-08-02 06:38] imomaliev commented on #96
@tysonclugg I step forward as maintainer and could help with this project

[2019-11-27 17:28] jodal opened #98 "Support Django 3"
Django 3 is to be released next week.

django-fsm does not yet support Django 3, but there's not that large changes needed, and there is a working fork, so support in django-fsm-log is useful even if django-fsm isn't updated.

To get django-fsm-log working with Django 3 is mostly a matter of stop using Django's private Python 2 compat APIs, https://docs.djangoproject.com/en/3.0/releases/3.0/#remov

[2019-12-03 09:21] jodal commented on #98
Django 3 is now out and django-fsm 2.7.0 has been released with Django 3 support.

[2019-12-06 08:41] imomaliev commented on #96
@tysonclugg Hi, what is the status on this?

[2020-01-02 17:42] moseb commented on #98
This line with `django.utils.encoding.python_2_unicode_compatible` is also breaking with Django 3:
https://github.com/gizmag/django-fsm-log/blob/355cb226534cd31c7cdbf76fb7b25526d922c42c/django_fsm_log/models.py#L7

[2020-01-09 22:40] hartwork commented on #96
django-fsm-log is blocking an upgrade to Python 3 (#98) so it would be great to see this ball rolling again. Any news?

[2020-03-13 22:54] clovis1122 commented on #98
BUMP. Was this released? I cannot find the next version on pip: https://pypi.org/project/django-fsm-log/#history

[2020-03-26 16:10] jodal commented on #98
With the merge of #99, this can be closed.

[2020-03-26 16:10] #98 closed

[2020-03-27 02:55] imomaliev commented on #96
Mb we should move this project in @jazzband ?

[2021-03-28 17:31] yswtrue opened #104 "integer out of range"
get error when pk is uuid.

[code]

[2021-10-20 09:37] MRigal commented on #96
@tysonclugg any news on that? I vote in favor of adding @imomaliev who has the pending PR https://github.com/gizmag/django-fsm-log/pull/95 since now 2 years which fixes some very basics issues.

It's a pity you started the process and let it die out...

[2022-01-11 13:55] iurisilvio opened #106 "Django 4 support"
It crashes before starting.

[code]

[2022-01-11 13:57] iurisilvio commented on #106
Sorry, it is a issue with outdated django-fsm.

[2022-01-11 13:57] #106 closed

[2022-01-14 08:23] #94 closed

[2022-01-14 10:47] ticosax commented on #96
Given the history on this conversation, it looks like I can take actions and initiate a transfer to jazzband.
I'll add it to my todo list.

[2022-01-14 10:58] ticosax commented on #96
I'll cut a the new release 3.0.0 first.

[2022-01-14 14:26] jazzband-bot opened #113 "Implement Jazzband guidelines for django-fsm-log"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-fsm-log](https://github.com/jazzband/django-fsm-log)

It was initiated by @ticosax who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to upda

[2022-01-14 14:41] jezdez commented on #113
Unfortunately https://github.com/jazzband/help/issues/248 was not given enough time to do a review and a transfer was done already. If you don't mind we can roll forward since the only thing that stands out is the documentation being a bit sparse. I'd strongly recommend setting up a readthedocs project, port the README file over to that and expand on it.

[2022-01-14 14:43] ticosax commented on #113
I'm sorry, I misunderstood the transfer mechanism. I will setup the rdt integrations asap.
Sorry for the confusion, and thanks for your support.

[2022-01-14 14:47] ticosax commented on #96
We are on jazzband

[2022-01-14 14:47] #96 closed

[2022-01-14 14:58] hartwork commented on #96
@ticosax thanks for the release and the transition!

[2022-01-14 15:15] MRigal commented on #104
Hi @yswtrue
Indeed the code is pretty deeply tied to `pk` being an integer. It won't be a small change, but if you need support for it, feel free to submit a PR :-)

[2022-01-14 15:52] imomaliev commented on #96
Great news. Thanks to everyone.

[2022-01-14 19:59] ticosax opened #115 "Add black integration"

[2022-01-14 19:59] ticosax opened #116 "Add isort integration"

[2022-01-14 19:59] ticosax opened #117 "Add dependabot integration"

[2022-01-14 20:00] ticosax opened #118 "Add flake8 integration"

[2022-01-14 20:01] ticosax commented on #113
Checklist captured there https://github.com/jazzband/django-fsm-log/pull/114

[2022-01-24 08:59] #113 closed

[2022-01-24 09:42] ticosax opened #121 "rename head branch from master to main"
@MRigal any objections to do this ?

[2022-01-24 09:45] #117 closed

[2022-01-25 07:41] frague59 opened #125 "Log instance caching timeout is too low"
Hi,

While debugging an application using django-fsm-log, an error occurs at the end of the transition process, about the cached log instance is None, as the timeout only 10 seconds, which is too low for a "normal" debugging session.

I' would be nice to make this timeout configurable (for debugging purpose), and to get it from django settings.

I'll propose a PR for this...

Thanks !

[2022-01-25 16:31] #118 closed

[2022-01-25 16:31] #116 closed

[2022-01-25 16:31] #115 closed

[2022-01-25 16:33] ticosax commented on #125
I'm not opposed to make the cache duration configurable.
I never used the CacheBackend in our projects. I can't tell much. Feel free to make a pull request and we will take it from there.

[2022-09-09 18:55] ddahan commented on #34
At this point, after reading the whole conversation, it's still not clear to me if the @tysonclugg idea:

is a viable workaround or not?

Anyway, as long as the PR about this topic in not merged, I think it could be valuable to add the "gotcha" in the documentation about this topic (and potentially the workaround I mentioned if it works, even if it's not perfect.)

[2022-09-09 19:01] ddahan commented on #34
And about the drama of forcing a user to migrate or not by changing the `object_id` type, perhaps the solution could be to use an optional setting in settings.py file. It may be an anti-pattern, but in projects like `django-cities`, defining a specific setting and **then**, running migrations produces different output.

I would expect that:
- old users are not not affected, as they wil never defin

[2022-09-12 09:17] ticosax commented on #34
There is a proposal.
https://github.com/jazzband/django-fsm-log/discussions/133
Where django-fsm-log would become stateless, where each app will be responsible to maintain their migrations and concrete models, while django-fsm-log provide only the abstract model & the plumbing code.
Do you think it could work for your use case ?

[2022-09-12 10:15] ddahan commented on #34
To be honest, my workaround was simply to manage to have two kinds of ids (int + charfield/uuid) to my project, and then choosing which one to use according the context.

So I can say I don't have the problem anymore. I'll answer to your proposal anyway.

[2022-09-12 17:21] ddahan opened #145 "Having a StateLog on object creation with the default state?"
In my app, I'm trying to show the full life cycles of objects using FSM.
While I love django-fsm-log for that purpose, the object creation itself is missing from these logs, as it's not a transition.
But after all, we could see this first step as a transition from the "`None` state" to the "`created` (default) state".

That's why I was wondering what is the best way, to create a StateLog instance

[2022-09-13 10:21] ticosax commented on #145
django-fsm-log offers persistence of the transition. When we initialize a state machine, there is no transition called, per nature I would say.
What you could do, is to call a transition yourself that can be triggered from a post_create signal handler.
I don't think it's a functionality that needs to live in django-fsm-log, but it could be a documented pattern.

[2022-09-13 13:29] ddahan commented on #145
@ticosax Thanks for the reply. I was thinking of this kind of solution too.
Except that since signals are often considered to be a bad practice for code readability, I guess I would override the `save()` method for that purpose.
Then, I would put that code in a mixin, sothat it can be used for any model that have a state field.

I'll try this and let you know about the result on this thread.

[2022-09-14 07:28] ddahan commented on #145
Yep, it seems to work as expected. I'll detail my solution here to potentially:

- help people browsing the issues and having a similar need
- get some additional tips to make to improve this piece of code.

_The mixin_
[code]

_Example usage in a class with a state_
[code]

Creating an `Mandate` will immediately get this StateLog:
<img width="978" alt="image" src="https://user-images.githubuserco